.App {
  background-color: black;
  padding: 4em;
}
.equal-button {
  background-color: green;
  color: white;
}
.total {
  display: flex;
  align-items: center;
  padding: 4em;
}

.xyz {
  margin-left: 18em;
  width: 50em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  border-radius: 30em;
}



